.header-container{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    height: 70px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
}

.logo{
  width: 140px;
  height: auto;
  padding: 20px;
}

.user-icon{
    width: 30px;
    height: 30px;
}